<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
</head>

<body>

  <ul>

    <li>
      <a class="navbar-brand" href="/">
        <div class="logo-image">
           <img style="height: 40px; weight: 24px;" src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/fa314a/external-medical-health-medicine-flatart-icons-outline-flatarticons-1.png" class="img-fluid"/>
        </div>
      </a>
    </li>
    <li>
      <a href="#" onclick="setURL('http://localhost:8501/?p=home')">Home</a>
    </li>
    <li>
      <a href="#" onclick="setURL('http://localhost:8501/?p=diabetes')">Diabetes</a>
    </li>
    <li>
      <a href="#" onclick="setURL('http://localhost:8501/?p=hd')">Heart Disease</a>
    </li>
     <li>
      <a href="#" onclick="setURL('http://localhost:8501/?p=bc')">Breast Cancer</a>
    </li>
    <li>
      <a href="#" onclick="setURL('http://localhost:8501/?p=kid')">Kidney Disease</a>
    </li>
    <li>
      <a href="#" onclick="setURL('http://localhost:8501/?p=covid')">COVID</a>
    </li>
    <li>
      <a href="#" onclick="setURL('http://localhost:8501/?p=bmi')">BMI</a>
    </li>


  </ul>
  <iframe src="http://localhost:8501/?p=home" id="streamlit_content" allowfullscreen frameborder="0"
    wmode="transparent">
    Your browser doesn't support iframes
  </iframe>

</body>
<script>
  function setURL(url) {
    document.getElementById('streamlit_content').src = url;
    console.log('Works!')
  }
</script>

</html>